!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='/css/github.css')
      link(rel='stylesheet', href='/css/main.css')
  body
    div.main
      div.sidebar
        div.fixed-inner
          a(href=locals.url)
            img(src=locals.url+'/images/logo.svg', alt=locals.name)
          h1= locals.name
          .subheadline= locals.description
          ul
            li
              i.icon-fire
              a(href=locals.url) latest
            li
              i.icon-calendar
              a(href='archive.html')#archive archives

      div.content
        block content
          h2 Welcome to zombocom!
        div.footer
          block footer
            p &copy; #{ new Date().getFullYear() } #{ locals.owner }
