!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href=locals.url+'/css/github.css')
      link(rel='stylesheet', href=locals.url+'/css/main.css')
  body
    div.main
      div.sidebar
        div.fixed-inner
          a(href=locals.url)
            img(src=locals.url+'/images/logo.svg', alt=locals.name)
          h1= locals.name
          .subheadline= locals.description
          ul
            li
              i.icon-bolt
              a(href=locals.url) latest
            li
              i.icon-calendar
              a(href='archive.html') archives
            li
              i.icon-google-plus
              a(href='https://plus.google.com/110580991801747434649/posts/p/pub') google+
            li
              i.icon-twitter
              a(href='http://twitter.com/cmx66') twitter
            li
              i.icon-github
              a(href='https://github.com/StephanHoyer') github
            li
              i.icon-user
              a(href='#aboutme') about me

      div.content
        block content
          h2 Welcome to zombocom!
        div.footer
          block footer
            p &copy; #{ new Date().getFullYear() } #{ locals.owner }
