!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href=locals.url+'/css/main.css')
  body
    div.main
      div.sidebar
        div.fixed-inner
          a(href=locals.url)
            img(src=locals.url+'/images/logo.svg', alt=locals.name)
          h1= locals.name
          .subheadline= locals.description
          ul
            li
              i.icon-bolt
              a(href=locals.url) latest
            li
              i.icon-calendar
              a(href=locals.url + '/archive.html') by date
            li
              i.icon-tag
              a(href=locals.url + '/tags.html') by tags
            li
              i.icon-user
              a(href='#aboutme') about me
            li
              i.icon-thumbs-up
              a(href='mailto:ste.hoyer@gmail.com') hire me

      div.content
        block content
          h2 Welcome to zombocom!
        div.footer
          block footer
            img(src=locals.url+'/images/me.jpg', class='me', alt=locals.name)
            #aboutme
              h2 #{ locals.owner }
              p
                :markdown
                  I'm a german software developer freelancing with various
                  technologies, like 
                  [node.js](http://nodejs.org/),
                  [Django](https://www.djangoproject.com/),
                  [AngularJS](http://angularjs.org/),
                  [magento](http://www.magentocommerce.com/).
                  I'm passionate about **git, open source technology** and 
                  **test- or behaviour-driven development**. I love my three 
                  kids and I'm an enthusiastic woodworker. I'm also 
                  cofounder of [leipzigJS](http://leipzigjs.github.com/).
              p.social-links
                a(href='https://plus.google.com/110580991801747434649/posts/p/pub')
                  i.icon-google-plus
                | &nbsp;
                a(href='https://github.com/StephanHoyer')
                  i.icon-github
                | &nbsp;
                a(href='http://twitter.com/cmx66')
                  i.icon-twitter
              p 
                :markdown
                  This site is hostet with github pages and was build using a 
                  lot of **awesome** open source technology like 
                  [wintersmith](https://github.com/jnordberg/wintersmith),
                  [node.js](http://nodejs.org/),
                  [vim](http://www.vim.org/),
                  [font-awesome](http://fortawesome.github.com/Font-Awesome/),
                  [stylus](http://learnboost.github.com/stylus/) and
                  [jade](http://jade-lang.com/). Thanks to the authors and
                  contibutors.
              p &copy; #{ new Date().getFullYear() } #{ locals.owner }



