!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href=locals.url+'/css/main.css')
  body
    div.main
      div.sidebar
        div.fixed-inner
          a(href=locals.url)
            img(src=locals.url+'/images/logo.svg', alt=locals.name)
          h1= locals.name
          .subheadline= locals.description
          ul
            li
              i.icon-bolt
              a(href=locals.url) latest
            li
              i.icon-calendar
              a(href='archive.html') archives
            li
              i.icon-user
              a(href='#aboutme') about me

      div.content
        block content
          h2 Welcome to zombocom!
        div.footer
          block footer
            img(src=locals.url+'/images/me.jpg', class='me', alt=locals.name)
            #aboutme
              h2 #{ locals.owner }
              p
                | I'm a german software developer freelancing with various
                | technologies, like 
                a(href='')= 'node.js'
                | , 
                a(href='')= 'django'
                | , 
                a(href='')= 'AngularJS'
                | , 
                a(href='')= 'magento'
                | . I'm passionate about 
                strong
                  | git, open source technology
                |  and 
                strong
                  |  test- or behaviour-driven-development
                | .
                | I love my three kids and I'm also an enthusiastic woodworker.
              p.social-links
                a(href='https://plus.google.com/110580991801747434649/posts/p/pub')
                  i.icon-google-plus
                | &nbsp;
                a(href='https://github.com/StephanHoyer')
                  i.icon-github
                | &nbsp;
                a(href='http://twitter.com/cmx66')
                  i.icon-twitter
              p &copy; #{ new Date().getFullYear() } #{ locals.owner }
